#
# project config
#
log_level = "debug"

[grpc_server]
ip   = "0.0.0.0"
port = 50060

[database]
uri      = "postgres://postgres:postgres@0.0.0.0:5432/mps_project"
timeout  = 10
max_pool = 10

[amqp]
uri         = "amqp://guest:guest@0.0.0.0:5672"
timeout     = 10
slack_queue = "slack_queue"

[kafka]
uri     = "0.0.0.0"
port    = 9092
timeout = 10
topics  = "projects"
