#
# scm config
#
log_level = "debug"

[grpc_server]
ip   = "0.0.0.0"
port = 50060

[database]
host     = "0.0.0.0"
username = "postgres"
password = "postgres"
database = "mps_scm"
port     = 5432
max_pool = 10
timeout  = 10

[amqp]
uri         = "amqp://guest:guest@0.0.0.0:5672"
timeout     = 10
slack_queue = "slack_queue"

[kafka]
ip      = "0.0.0.0"
port    = 9092
timeout = 10
topic   = "scm"

[github]
owner       = "owner"
entity_type = "user" # or organization
token       = "my_token_please_readme"
timeout     = 60
max_retry   = 3
base_url    = "https://api.github.com" # optional
